
singularity {

    enabled                     = true

    envWhitelist                = "SLURM_CPUS_ON_NODE,TERM"

    autoMounts                  = true

    runOptions                  = '-B "$TMPDIR"' // For compatibility with the parallel command called by Prokka

}

process {

    withLabel: no_container {

        executor                = "slurm"

        clusterOptions          = "-A ucgd-rw --partition ucgd-rw -N 1"

    }

    withLabel: image_1 {

        // All processes except for GTDBTk

    	executor				= "slurm"

    	clusterOptions			= "-A ucgd-rw --partition ucgd-rw -N 1"

        container               = "file:///scratch/ucgd/lustre/work/proj_UCGD/u1084359/20230206_Round/containers/genome_assembly_image_1.sif"

    }

    withLabel: image_2 {

        // For GTDBTk

        executor                = "slurm"

        clusterOptions          = "-A ucgd-rw --partition ucgd-rw -N 1"

        container               = "file:///scratch/ucgd/lustre/work/proj_UCGD/u1084359/20230206_Round/containers/genome_assembly_image_2.sif"

    }

}

params {
    
	// Batch file path
    batch_file                  = "/path/to/batch/file"

    // Long read machine, to be specified for Quast. Can be "nanopore" (default) or "pacbio".
    long_read_type              = "nanopore"

    // GTDBTk reference data path
    gtdbtk_reference_path       = "/path/to/gtdbtk/reference/folder"

}